body {
  padding: 40px;
}

button {
  background-color: blue;
  border: transparent;
  border-radius: 10px;
  color: white;
  padding: 25px;
  transition: all 400ms;
}

button:hover { 
  background-color:darkblue;
}

button:active {
  transform: scale(0.75);
}  

button:focus {
  outline: none;
}